/* font import */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
/* END font import */

/*  universal reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}

/* end of reset */

/* attribution  */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
/* end of attribution  */

body {
	font-size: 15px;
	font-family: "Spartan", sans-serif;
	margin: 0 auto;
	border: 2px solid yellow;
	height: 100vh;
	max-width: 375px;
}

/* start if header */
h1 {
	color: hsl(300, 43%, 22%);
	margin: 0 auto;
	text-align: center;
	padding: 25px;
	font-size: 2rem;
}

#header p {
	text-align: center;
	line-height: 1.2rem;
}
/* end of header */

/* rating */
/* #ratings {
	margin: 0 auto;
	border: red 2px solid;
	text-align: center;
} */

.star-container {
	background-color: hsl(334, 100%, 95%);
	margin: 2rem 0;
	padding: 1rem;
	border-radius: 10px;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 10px;
	font-size: 0.8rem;
	color: hsl(300, 43%, 22%);
	text-align: center;
}
.star {
	margin-bottom: 0.5rem;
}

.star-container:last-of-type {
	margin-bottom: 20px;
}
/* End rating */

/* review cards */
#reviews {
	padding: 0.5rem;
}

.review-card {
	border: solid red 2px;
	margin-bottom: 1rem;
	padding: 3rem;
	border-radius: 10px;
	background-color: hsl(300, 43%, 22%);
}

.review-card p {
	color: white;
	line-height: 1.5rem;
}
.card-header {
	display: flex;
	margin-bottom: 1.2rem;
}

.card-header img {
	border-radius: 50%;
	max-width: 3rem;
}

.subtitle {
	position: relative;
	left: 1rem;
}

.name {
	color: white;
	margin-bottom: 8px;
}

.verified {
	color: hsl(334, 100%, 95%);
	font-size: 12px;
}

/* End of review Cards */

@media (min-width: 1100px) {
	body {
		max-width: 1440px;
		/* font-size: 1.5rem; */
	}

body{
	padding: 10px;
}

	.max-container {
		display: flex;
		width: 100%;
		border: 3px solid pink;
		margin-bottom: 4%;
		justify-content: space-between;
	}
	h1 {
		font-size: 2rem;
		text-align: left;
	}

	.first-half {
		width: 30%;
		font-size: 1rem;
		/* display: flex; */
		text-align: left;
	}

	.first-half #header p {
		font-size: 15px;
		line-height: 1.5rem;
		text-align: left;
		margin-left: 5%;
	}

	.second-half {
		width: 50%;
		border: 2px solid brown;
		padding: 1rem;
	}

	.star-container {
		display: flex;
		justify-content: space-between;
	}

	.star-container:nth-of-type(1) {
		margin-left: -1%;
	}
	.star-container:nth-of-type(2) {
		margin-left: 5%;
	}
	.star-container:nth-of-type(3) {
		margin-left: 12%;
	}

	#reviews {
		display: flex;
		justify-content: space-between;
		/* width: 100px; */
	}

	.review-card {
}
