/* font import */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
/* END font import */

/*  universal reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	vertical-align: middle;
}

/* end of reset */

/* attribution  */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
/* end of attribution  */

/* borrowed psuedo code */
body {
	align-items: center;
	font-size: 16px;
}

.container {
	margin: 0 auto;
	width: 375px;
	max-width: 100%;
	border: red solid 3px;
	padding: 20% 15%;
}
/* end of psuedo code */

h1 {
	color: hsl(300, 43%, 22%);
	font-size: 2rem;
}

h6 {
	color: hsl(300, 43%, 22%);
	font-size: 0.9rem;
}

p {
	text-align: center;
	line-height: 1.5rem;
	font-size: 0.9rem;
}

/* start of top */

.top {
	text-align: center;
	margin-bottom: 10%;
}

.header h1 {
	margin-bottom: 8%;
}
/* end of top */

/* start of middle */
.rating_card {
	border: green solid 2px;
	padding: 10px 0;
	background-color: hsl(332, 32%, 91%);
	line-height: 1.5rem;
	border-radius: 10px;
	margin-bottom: 3%;
}

/* end of middle */

/* start bottom */
.card {
	margin-bottom: 5%;
	margin-top: 10%;
}

.card_one {
	border: 2px solid blue;
}
.card_two {
	border: 2px solid blue;
}
.card_three {
	border: 2px solid blue;
}
/* end of bottom */
